<ion-header>
  <ion-toolbar>
    <ion-button slot="start"> 
      <ion-back-button></ion-back-button>
          </ion-button>

    <ion-title>Registra tu Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> nombre </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> nit </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> direccion </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> ciudad </ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label> rubro</ion-label>
      <ion-input> </ion-input>
    </ion-item>
  </ion-list>

  <ion-item-divider>
    <ion-button size="large" (click)="onRegister()"> Registrar </ion-button>
  </ion-item-divider>

</ion-content>
